<a href="https://colab.research.google.com/github/ckraju/python-data-analytics-2e/blob/master/Chapter_4_The_Pandas_Library%2C_an_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4 - The Pandas Library, an Introduction

In [143]:
import pandas as pd
import numpy as np

## Introduction to Pandas Data Structures

### Declaring a Series

In [144]:
s = pd.Series([12, -4, 7, 9])
s

0    12
1    -4
2     7
3     9
dtype: int64

In [145]:
s = pd.Series([12, -4, 7, 9], index=['a', 'b', 'c', 'd'])
s

a    12
b    -4
c     7
d     9
dtype: int64

In [146]:
s.values

array([12, -4,  7,  9])

In [147]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

### Selecting the Internal Elements

In [148]:
s[2]

7

In [149]:
s['b']

-4

In [150]:
s[0:2]

a    12
b    -4
dtype: int64

In [151]:
s[['b','c']]

b   -4
c    7
dtype: int64

### Assigning Values to the Elements

In [152]:
s[1] = 0
s

a    12
b     0
c     7
d     9
dtype: int64

In [153]:
s['b'] = 1
s

a    12
b     1
c     7
d     9
dtype: int64

### Defining Series from NumPy Arrays and Other Series

In [154]:
arr = np.array([1, 2, 3, 4])
s3 = pd.Series(arr)
s3

0    1
1    2
2    3
3    4
dtype: int64

In [155]:
s4 = pd.Series(s)
s4

a    12
b     1
c     7
d     9
dtype: int64

In [156]:
s3

0    1
1    2
2    3
3    4
dtype: int64

### Filtering Values

In [157]:
s[s > 8]

a    12
d     9
dtype: int64

### Operations and Mathematical Functions

In [158]:
s / 2

a    6.0
b    0.5
c    3.5
d    4.5
dtype: float64

In [159]:
np.log(s)

a    2.484907
b    0.000000
c    1.945910
d    2.197225
dtype: float64

### Evaluating Values

In [160]:
serd = pd.Series([1,0,2,1,2,3], index=['white', 'white', 'blue', 'green', 'green', 'yellow'])
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [161]:
serd.unique()

array([1, 0, 2, 3])

In [162]:
serd.value_counts()

2    2
1    2
3    1
0    1
dtype: int64

In [163]:
serd.isin([0,3])

white     False
white      True
blue      False
green     False
green     False
yellow     True
dtype: bool

In [164]:
serd[serd.isin([0,3])]

white     0
yellow    3
dtype: int64

### NaN Values

In [165]:
s2 = pd.Series([5, -3, np.NaN, 14])
s2

0     5.0
1    -3.0
2     NaN
3    14.0
dtype: float64

In [166]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [167]:
s2.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [168]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

In [169]:
s2[s2.isnull()]

2   NaN
dtype: float64

### Series as Dictionaries

In [170]:
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000}
myseries = pd.Series(mydict)
myseries

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [171]:
colors = ['red', 'yellow', 'orange', 'blue', 'green']
myseries = pd.Series(mydict, index=colors)
myseries

red       2000.0
yellow     500.0
orange    1000.0
blue      1000.0
green        NaN
dtype: float64

### Operations between Series

In [172]:
mydict2 = {'red': 400, 'yellow': 1000, 'black': 700}
myseries2 = pd.Series(mydict2)
myseries + myseries2

black        NaN
blue         NaN
green        NaN
orange       NaN
red       2400.0
yellow    1500.0
dtype: float64

## The DataFrame

### Defining a DataFrame

In [173]:
data = {'color' : ['blue', 'green', 'yellow', 'red', 'white'],
        'object' : ['ball', 'pen', 'pencil', 'paper', 'mug'],
        'price' : [1.2, 1.0, 0.6, 0.9, 1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [174]:
frame2 = pd.DataFrame(data, columns=['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [175]:
frame2 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five'])
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [176]:
frame3 = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red', 'blue', 'yellow', 'white'],
                     columns=['ball', 'pen', 'pencil', 'paper'])
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

### Selecting Elements

In [177]:
frame.columns

Index(['color', 'object', 'price'], dtype='object')

In [178]:
frame.index

RangeIndex(start=0, stop=5, step=1)

In [179]:
frame.values

array([['blue', 'ball', 1.2],
       ['green', 'pen', 1.0],
       ['yellow', 'pencil', 0.6],
       ['red', 'paper', 0.9],
       ['white', 'mug', 1.7]], dtype=object)

In [180]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [181]:
frame.price

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [182]:
frame.iloc[2]

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [183]:
a = frame.loc[2]
a

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [184]:
frame.iloc[2]

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [185]:
frame.iloc[[2,4]]

    color  object  price
2  yellow  pencil    0.6
4   white     mug    1.7

In [186]:
#deprecated
frame.iloc[[2,4]]

    color  object  price
2  yellow  pencil    0.6
4   white     mug    1.7

In [187]:
frame[0:1]

  color object  price
0  blue   ball    1.2

In [188]:
frame[1:3]

    color  object  price
1   green     pen    1.0
2  yellow  pencil    0.6

In [189]:
frame['object'][3]

'paper'

### Assigning Values

In [190]:
frame.index.name = 'id'; 
frame.columns.name = 'item'
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    0.6
3        red   paper    0.9
4      white     mug    1.7

In [191]:
frame['new'] = 12
frame

item   color  object  price  new
id
0       blue    ball    1.2   12
1      green     pen    1.0   12
2     yellow  pencil    0.6   12
3        red   paper    0.9   12
4      white     mug    1.7   12

In [192]:
frame['new'] = [3.0, 1.3, 2.2, 0.8, 1.1]
frame

item   color  object  price  new
id
0       blue    ball    1.2  3.0
1      green     pen    1.0  1.3
2     yellow  pencil    0.6  2.2
3        red   paper    0.9  0.8
4      white     mug    1.7  1.1

In [193]:
ser = pd.Series(np.arange(5))
ser

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [303]:
frame['new'] = ser
frame

        ball  pen  pencil  paper  new
red        0    1       2      3  0.0
blue       4    5       6      7  1.0
yellow     8    9      10     11  2.0
white     12   13      14     15  NaN

In [195]:
frame['price'][2] = 3.3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Membership of a Value

In [196]:
frame.isin([1.0, 'pen'])

item  color  object  price    new
id
0     False   False  False  False
1     False    True   True   True
2     False   False  False  False
3     False   False  False  False
4     False   False  False  False

In [206]:
frame[frame.isin([1.0, 'pen'])]

item color object  price
id
0      NaN    NaN    NaN
1      NaN    pen    1.0
2      NaN    NaN    NaN
3      NaN    NaN    NaN
4      NaN    NaN    NaN

### Deleting a Column

In [304]:
del frame['new']
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

### DataFrame from Nested dict

In [220]:
nestdict = {'red': { 2012: 22, 2013: 33},
            'white': { 2011: 13, 2012: 22, 2013: 16},
            'blue': { 2011: 17, 2012: 27, 2013: 18}}
frame2 = pd.DataFrame(nestdict)
frame2

       red  white  blue
2012  22.0     22    27
2013  33.0     16    18
2011   NaN     13    17

### Transposition of a DataFrame

In [221]:
frame2.T

       2012  2013  2011
red    22.0  33.0   NaN
white  22.0  16.0  13.0
blue   27.0  18.0  17.0

## The Index Objects

In [222]:
ser = pd.Series([5, 0, 3, 8, 4], index=['red', 'blue', 'yellow', 'white', 'green'])
ser.index

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

### Methods on Index

In [223]:
ser.idxmin()

'blue'

In [224]:
ser.idxmax()

'white'

### Index with Duplicate Labels

In [225]:
serd = pd.Series(range(6), index=['white', 'white', 'blue', 'green', 'green', 'yellow'])
serd

white     0
white     1
blue      2
green     3
green     4
yellow    5
dtype: int64

In [226]:
serd['white']

white    0
white    1
dtype: int64

In [227]:
serd.index.is_unique

False

In [228]:
frame.index.is_unique

True

 ### Other Functionalities on Indexes

In [229]:
ser = pd.Series([2, 5, 7, 4], index=['one', 'two', 'three', 'four'])
ser

one      2
two      5
three    7
four     4
dtype: int64

In [230]:
ser.reindex(['three', 'four', 'five', 'one'])

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

In [231]:
ser3 = pd.Series([1, 5, 6, 3], index=[0, 3, 5, 6])
ser3

0    1
3    5
5    6
6    3
dtype: int64

In [232]:
ser3.reindex(range(6), method='ffill')

0    1
1    1
2    1
3    5
4    5
5    6
dtype: int64

In [233]:
ser3.reindex(range(6), method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64

In [234]:
frame.reindex(range(5), method='ffill', columns=['colors', 'price', 'new', 'object'])

item  colors  price     new  object
id
0       blue    1.2    blue    ball
1      green    1.0   green     pen
2     yellow    3.3  yellow  pencil
3        red    0.9     red   paper
4      white    1.7   white     mug

### Dropping

In [235]:
ser = pd.Series(np.arange(4.), index=['red', 'blue', 'yellow', 'white'])
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

In [236]:
ser.drop('yellow')

red      0.0
blue     1.0
white    3.0
dtype: float64

In [237]:
ser.drop(['blue','white'])

red       0.0
yellow    2.0
dtype: float64

In [238]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)), 
                    index=['red', 'blue', 'yellow', 'white'],
                    columns=['ball', 'pen', 'pencil', 'paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [239]:
frame.drop(['blue','yellow'])

       ball  pen  pencil  paper
red       0    1       2      3
white    12   13      14     15

In [240]:
frame.drop(['pen','pencil'], axis=1)

        ball  paper
red        0      3
blue       4      7
yellow     8     11
white     12     15

### Arithmetic and Data Alignment

In [241]:
s1 = pd.Series([3,2,5,1],['white','yellow','green','blue'])
s2 = pd.Series([1,4,7,2,1],['white','yellow','black','blue','brown'])

In [242]:
s1 + s2

black     NaN
blue      3.0
brown     NaN
green     NaN
white     4.0
yellow    6.0
dtype: float64

In [243]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
          index=['blue', 'green', 'white', 'yellow'],
          columns=['mug','pen','ball'])
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [244]:
frame2

        mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

In [245]:
frame1 + frame2

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

## Operations between Data Structures

### Flexible Arithmetic Methods

In [246]:
frame1.add(frame2)

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

### Operations between DataFrame and Series

In [247]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [248]:
ser = pd.Series(np.arange(4), index=['ball','pen','pencil','paper'])
ser

ball      0
pen       1
pencil    2
paper     3
dtype: int64

In [249]:
frame - ser

        ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

In [250]:
ser['mug'] = 9
ser

ball      0
pen       1
pencil    2
paper     3
mug       9
dtype: int64

In [251]:
frame - ser

        ball  mug  paper  pen  pencil
red        0  NaN      0    0       0
blue       4  NaN      4    4       4
yellow     8  NaN      8    8       8
white     12  NaN     12   12      12

## Function Application and Mapping

### Functions by Element

In [252]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
np.sqrt(frame)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

### Functions by Row or Column

In [253]:
f = lambda x: x.max() - x.min()

def f(x):
    return x.max() - x.min()

frame.apply(f)

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [254]:
frame.apply(f, axis=1)

red       3
blue      3
yellow    3
white     3
dtype: int64

In [255]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

     ball  pen  pencil  paper
min     0    1       2      3
max    12   13      14     15

In [256]:
frame.sum()

ball      24
pen       28
pencil    32
paper     36
dtype: int64

In [257]:
frame.mean()

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

In [258]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

## Sorting and Ranking

In [259]:
ser = pd.Series([5, 0, 3, 8, 4], index=['red','blue','yellow','white','green'])
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [260]:
ser.sort_index()

blue      0
green     4
red       5
white     8
yellow    3
dtype: int64

In [261]:
ser.sort_index(ascending=False)

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

In [262]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [263]:
frame.sort_index()

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

In [264]:
frame.sort_index(axis=1)

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

In [265]:
ser.sort_values()

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

In [266]:
frame.sort_values(by='pen')

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [267]:
frame.sort_values(by=['pen','pencil'])

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [268]:
ser.rank()

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

In [269]:
ser.rank(method='first')

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

In [270]:
ser.rank(ascending=False)

red       2.0
blue      5.0
yellow    4.0
white     1.0
green     3.0
dtype: float64

## Correlation and Covariance

In [271]:
seq = pd.Series([1,2,3,4,4,3,2,1],['2006','2007','2008','2009','2010','2011','2012','2013'])
seq2 = pd.Series([3,4,3,4,5,4,3,2],['2006','2007','2008','2009','2010','2011','2012','2013'])
seq.corr(seq2)

0.7745966692414835

In [272]:
seq.cov(seq2)

0.8571428571428571

In [273]:
frame2 = pd.DataFrame([[1,4,3,6],[4,5,6,1],[3,3,1,5],[4,1,6,4]],
          index=['red', 'blue', 'yellow', 'white'],
          columns=['ball','pen','pencil','paper'])
frame2

        ball  pen  pencil  paper
red        1    4       3      6
blue       4    5       6      1
yellow     3    3       1      5
white      4    1       6      4

In [274]:
frame2.corr()

            ball       pen    pencil     paper
ball    1.000000 -0.276026  0.577350 -0.763763
pen    -0.276026  1.000000 -0.079682 -0.361403
pencil  0.577350 -0.079682  1.000000 -0.692935
paper  -0.763763 -0.361403 -0.692935  1.000000

In [275]:
frame2.cov()

            ball       pen    pencil     paper
ball    2.000000 -0.666667  2.000000 -2.333333
pen    -0.666667  2.916667 -0.333333 -1.333333
pencil  2.000000 -0.333333  6.000000 -3.666667
paper  -2.333333 -1.333333 -3.666667  4.666667

In [276]:
ser = pd.Series([0, 1, 2, 3, 9], index=['red','blue','yellow','white','green'])
ser

red       0
blue      1
yellow    2
white     3
green     9
dtype: int64

In [277]:
frame2.corrwith(ser)

ball      0.730297
pen      -0.831522
pencil    0.210819
paper    -0.119523
dtype: float64

In [278]:
frame2.corrwith(frame)

ball      0.730297
pen      -0.831522
pencil    0.210819
paper    -0.119523
dtype: float64

## "Not a Number" Data

### Assigning a NaN Value

In [279]:
ser = pd.Series([0,1,2,np.NaN,9], index=['red','blue','yellow','white','green'])
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [280]:
ser['white'] = None
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

### FIltering Out NaN Values

In [281]:
ser.dropna()

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [282]:
ser[ser.notnull()]

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [283]:
frame3 = pd.DataFrame([[6,np.nan,6],[np.nan,np.nan,np.nan],[2,np.nan,5]],
                     index=['blue','green','red'],
                     columns=['ball','mug','pen'])
frame3

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

In [284]:
frame3.dropna()

Empty DataFrame
Columns: [ball, mug, pen]
Index: []

In [285]:
frame3.dropna(how='all')

      ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

### Filliing in NaN Occurrences

In [286]:
frame3.fillna(0)

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  0.0  0.0
red     2.0  0.0  5.0

In [287]:
frame3.fillna({'ball':1, 'mug':0, 'pen': 99})

       ball  mug   pen
blue    6.0  0.0   6.0
green   1.0  0.0  99.0
red     2.0  0.0   5.0

## Hierarchical Indexing and Leveling

In [288]:
mser = pd.Series(np.random.rand(8),
                index=[['white','white','white','blue','blue','red','red','red'],
                      ['up','down','right','up','down','up','down','left']])
mser

white  up       0.205985
       down     0.771901
       right    0.271785
blue   up       0.673354
       down     0.047113
red    up       0.155368
       down     0.585416
       left     0.495236
dtype: float64

In [289]:
mser.index

MultiIndex([('white',    'up'),
            ('white',  'down'),
            ('white', 'right'),
            ( 'blue',    'up'),
            ( 'blue',  'down'),
            (  'red',    'up'),
            (  'red',  'down'),
            (  'red',  'left')],
           )

In [290]:
mser['white']

up       0.205985
down     0.771901
right    0.271785
dtype: float64

In [291]:
mser[:,'up']

white    0.205985
blue     0.673354
red      0.155368
dtype: float64

In [292]:
mser['white','up']

0.2059845356570582

In [293]:
mser.unstack()

           down      left     right        up
blue   0.047113       NaN       NaN  0.673354
red    0.585416  0.495236       NaN  0.155368
white  0.771901       NaN  0.271785  0.205985

In [294]:
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [295]:
frame.stack()

red     ball       0
        pen        1
        pencil     2
        paper      3
blue    ball       4
        pen        5
        pencil     6
        paper      7
yellow  ball       8
        pen        9
        pencil    10
        paper     11
white   ball      12
        pen       13
        pencil    14
        paper     15
dtype: int64

In [296]:
mframe = pd.DataFrame(np.random.randn(16).reshape(4,4),
                     index=[['white','white','red','red'], ['up','down','up','down']],
                     columns=[['pen','pen','paper','paper'],[1,2,1,2]])
mframe

                 pen               paper
                   1         2         1         2
white up    0.746611 -1.149921 -0.954328 -0.704732
      down -0.143398  0.794348 -0.286344 -0.764513
red   up   -0.221134 -0.614946  0.600781  0.651373
      down  1.984950  2.148336 -0.535812  0.281878

# Reordering and Sorting Levels

In [297]:
mframe.columns.names = ['objects','id']
mframe.index.names = ['colors','status']
mframe

objects             pen               paper
id                    1         2         1         2
colors status
white  up      0.746611 -1.149921 -0.954328 -0.704732
       down   -0.143398  0.794348 -0.286344 -0.764513
red    up     -0.221134 -0.614946  0.600781  0.651373
       down    1.984950  2.148336 -0.535812  0.281878

In [298]:
mframe.swaplevel('colors','status')

objects             pen               paper
id                    1         2         1         2
status colors
up     white   0.746611 -1.149921 -0.954328 -0.704732
down   white  -0.143398  0.794348 -0.286344 -0.764513
up     red    -0.221134 -0.614946  0.600781  0.651373
down   red     1.984950  2.148336 -0.535812  0.281878

In [299]:
mframe.sort_index(level='colors')

objects             pen               paper
id                    1         2         1         2
colors status
red    down    1.984950  2.148336 -0.535812  0.281878
       up     -0.221134 -0.614946  0.600781  0.651373
white  down   -0.143398  0.794348 -0.286344 -0.764513
       up      0.746611 -1.149921 -0.954328 -0.704732

### Summary Statistic by Level

In [300]:
mframe.sum(level='colors')

objects       pen               paper
id              1         2         1         2
colors
white    0.603214 -0.355573 -1.240673 -1.469245
red      1.763816  1.533390  0.064969  0.933251

In [301]:
mframe.sum(level='id',axis=1)

id                    1         2
colors status
white  up     -0.207717 -1.854653
       down   -0.429742  0.029835
red    up      0.379647  0.036427
       down    1.449138  2.430214